

<div class="ui stackable grid">
  <div class="row">
    <div class="six wide column ">
      <h2 class="ui center middle  aligned header">
        <div class="content">
          <h1>จำนวนผู้ติดเชื้อ</h1>
          <h1 class="ui orange header">Covid-19</h1>
          <h1>ในประเทศไทย</h1>
          <div class="sub header">update:{{covid.UpdateDate}}</div>
        </div>
      </h2>
    </div>
    <div class="ten wide column">
      <div class="ui stackable grid">

        <div class="one column row">
          <div class="column">
            <app-cases></app-cases>
          </div>
        </div>

        <div class="three column row">
          <div class="column">
            <app-recovered></app-recovered>
          </div>
          <div class="column">
            <app-hospitalized></app-hospitalized>
          </div>
          <div class="column">
            <app-dead></app-dead>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>